@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Inter-Regular.woff2?v=3.12") format("woff2"),
       url("../../fonts/Inter-Regular.woff?v=3.12") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../fonts/Inter-SemiBold.woff2?v=3.12") format("woff2"),
       url("../../fonts/Inter-SemiBold.woff?v=3.12") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../../fonts/Inter-Black.woff2?v=3.12") format("woff2"),
       url("../../fonts/Inter-Black.woff?v=3.12") format("woff");
}

.page {
  max-width: 1600px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #2A2C2F;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media (max-width: 1280px) {
  .page {
    width: 100%;
  }
}