@import url(__item/photo-grid__item.css);
@import url(_indent/photo-grid_indent.css);

.photo-grid {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  max-width: 1184px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

@media (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
  }
}

@media (max-width: 375px) {
  .photo-grid {
    max-width: 343px;
    grid-row-gap: 15px;
  }
}

@media (max-width: 320px) {
  .photo-grid {
    max-width: 288px;
    grid-row-gap: 8px;
  }
}