@import url(__title/lead__title.css);
@import url(__subtitle/lead__subtitle.css);
@import url(__image/lead__image.css);
@import url(__caption/lead__caption.css);
@import url(__image-block/lead__image-block.css);
@import url(_indent/lead_indent.css);

.lead {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  max-width: 984px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .lead {
    max-width: 720px;
  }
}

@media (max-width: 375px) {
  .lead {
    max-width: 343px;
  }
}

@media (max-width: 320px) {
  .lead {
    max-width: 288px;
  }
}