.footer_indent {
  padding: 158px 0 48px 0;
}

@media (min-width: 1025px) and (max-width: 1184px) {
  .footer_indent {
    padding: 102px 23px 24px;
  }
}

@media (max-width: 1024px) {
  .footer_indent {
    padding: 158px 0 24px;
  }
}

@media (max-width: 950px) {
  .footer_indent {
    padding: 102px 23px 24px;
  }
}

@media (max-width: 375px) {
  .footer_indent {
    padding: 64px 16px 24px;
  }
}