.lead__image-block {
  max-width: 984px;
  width: 100%;
  margin: 71px auto 0;
}

@media (max-width: 1024px) {
  .lead__image-block {
    margin: 65px auto 0;
  }
}

@media (max-width: 768px) {
  .lead__image-block {
    margin: 78px auto 0;
  }
}

@media (max-width: 700px) {
  .lead__image-block {
    margin: 40px auto 0;
  }
}

@media (max-width: 375px) {
  .lead__image-block {
    margin: 31px auto 0;
  }
}

@media (max-width: 320px) {
  .lead__image-block {
    margin: 32px auto 0;
  }
}