.comments__author {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  color: #FFF;
}

@media (max-width: 884px) {
  .comments__author {
    margin: 16px 0 0 0;
  }
}